# Tuple

tuples are immutable
can store any kind of date
faster than list because it is immutable 
no append,no pop etc
enclosed in parenthese or not
slicing is possible

we use tuple when we know that we dont have to change the value like if we create var of days then we know that they are only 7
monday,tuesday,wednesday,thursday,friday,saturday,sunday
so we dont need to create list because there are not more day to be appended
so we use tuples here

How to Create tuple

In [2]:
numbers = (1,2,3,4)
words   = ("shaleem",'is','a','programmer')
print(numbers)
print(words)

(1, 2, 3, 4)
('shaleem', 'is', 'a', 'programmer')

tuples without parantheses

In [41]:
t = 1,2,3
print(type(t)) 
# tuples can be created without parantheses

<class 'tuple'>

if we want to creater list of only one element

In [4]:
num = (1)
word = ('hello world')

# these are enclosed in paranthese but they are not tuples

print(type(num))
print(type(word))

<class 'int'>
<class 'str'>

so above mentioned are string and tuple so to create tuple of 1 element we add comma after writing element

In [8]:
num = (1,)  # 1, remember ,
word = ('shaleem',)
print(type(num))
print(type(word))

<class 'tuple'>
<class 'tuple'>

Two methods count & index

In [10]:
nums = (1,2,3,4,1)
nums.count(1)

2

In [12]:
nums.index(4)

3

lists inside tuple

In [18]:
nums = (1,2,3,['four','five'])
#  list inside tuple will be treated as list
nums[3].append("six")
nums

(1, 2, 3, ['four', 'five', 'six'])

but in our real projects we dont use list inside tuple because it effects the speed of tuple

# unpacking tuples

In [20]:
cars = ('corolla','civic','fx')
# var utny he honay chahiye jitny elements
toyota,honda,suzuki = cars
print(toyota)
print(honda)
print(suzuki)

corolla
civic
fx

if we return two values in function simultaneously then it will return  a tuple

In [22]:
def fun(n1,n2):
    add = n1 + n2
    mul = n1 * n2
    return add,mul
print(fun(2,3))

(5, 6)

see tuple if being returned so we us tuple unpacking

In [29]:
def fun(n1,n2):
    add = n1 + n2
    mul = n1 * n2
    return add,mul
a,m = fun(2,3)
print(a)
print(m)

5
6

tuple can be created using range fun as we created lis

In [31]:
t = tuple(range(1,11))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuples can be change to str

In [37]:
t = str((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

it seems that it is not converted in string but it is . if we check the type of 't' we get to know that it is string 
t = '(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)'

In [38]:
t = str((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
print(type(t))

<class 'str'>